@charset "utf-8";
@import "bulma/bulma";
@import "./animation.scss";

//----

.modal-card-head {
  //カラーテーマの適用
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;

      .modal-card-title {
        color: $color-invert;
      }
    }
  }
}

//------

html {
  overflow-y: auto;
}

html,
body,
#__nuxt {
  height: 100%;
}

